.venv/
.uv-cache/
_build/
build/
dist/
downloads/current/
downloads/windows/
downloads/weasyprint/
*.egg-info/
__pycache__/
*.py[cod]
# generated
*.egg-info/


# Generated wheel payload
src/weasyprint_libs/lib/
src/weasyprint_libs/bin/
src/weasyprint_libs/etc/
src/weasyprint_libs/share/

# Future Windows ARM64 package cache
downloads/windows-arm64/
